.button{
    position: absolute;
    top: 30px;
    right: 40px;
    color: black;
    font-size: 18px;
    background:none;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
}
.Logo{
    width: auto;
    height: auto;
}
.Login{

}
.username{
    border-radius: 15px
}
.password{
    margin-top: 10px;
    border-radius: 15px;
}
.LoginButton{
    margin-left: 280px;
    margin-top:5px;
    background-color: royalblue;
    border-radius: 10px;
    width: 90px;
    font-size: 15px;
}